* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    min-height: 100vh;
    overflow-x: hidden;
}

.header {
    background-color: gray;
}

h1 {
    font-style: italic;
}

.search_icon {
    font-style: italic;
    float: right;
    color: black;
    padding: 14px 16px;
    font-size: 10px;
    font-style: italic;
}

nav {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.container {
    position: absolute;
    display: grid;
    width: 100vw;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid gray;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}

.text-block1 {
    position: absolute;
    width: 22%;
    bottom: 68%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block2 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 68%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block3 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 68%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block4 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 34%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block5 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 34%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block6 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 34%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block7 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 0%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-block8 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 0%;
}

.text-block9 {
    position: absolute;
    background: gray;
    width: 22%;
    bottom: 0%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

p {
    text-align: center;
}